// vim: ft=c

#include "key-labels/50.h"

// map kyrias extra keys
#define X_L_BM1 DSK_LEFT
#define X_L_BM2 M_DSK_LEFT
#define X_R_BM1 M_DSK_RIGHT
#define X_R_BM2 DSK_RIGHT
#define X_L_TL &mo L_SYS
#define X_L_TR &trans
#define X_R_TL &trans
#define X_R_TR &mo L_NUM

// enable rgb
#define ENABLE_RGB_KEYS

&led_strip {
  chain-length = <31>; // Uncomment if using both per-key and underglow LEDs
};

&nice_view_spi {
  cs-gpios = <&pro_micro 0 GPIO_ACTIVE_HIGH>;
};

#include "../tastetrond/tastetrond.keymap"
