// vim: ft=c

#include "key-labels/50.h"

// map kyrias extra keys
#define X_L_BM1 DSK_LEFT
#define X_L_BM2 ___
#define X_R_BM1 ___
#define X_R_BM2 DSK_RIGHT
#define X_L_TL &kp LC(LA(LSHIFT))
#define X_L_TR &mo L_UC
#define X_R_TL &mo L_FN
#define X_R_TR &kp LC(LA(LS(LGUI)))

// enable rgb
#define ENABLE_RGB_KEYS

// enable bluetooth
#define ENABLE_BT_KEYS

// enable encoders
#define ENABLE_ENCODERS

&led_strip {
  chain-length = <31>; // Uncomment if using both per-key and underglow LEDs
};

#if defined(NICE_VIEW_SPI)
&nice_view_spi {
    cs-gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
};
#endif

#include "../tastetrond/tastetrond.keymap"
