// vim: ft=c

/*
 * Inspired by:
 *  - https://github.com/urob/zmk-config
 *  - https://github.com/manna-harbour/miryoku
 *  - https://github.com/Vermoot/qmk_keymaps/tree/master/kyria/keymaps/Vermoot
 *  - https://github.com/minusfive/zmk-config
 *  - https://github.com/markstos/qmk_firmware/tree/markstos
 *  - https://github.com/rayduck/pnohty
 */

#include "key-labels/42.h"

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// layer names
#define L_CMK 0
#define L_NAV 1
#define L_NUM 2
#define L_SYM 3
#define L_FN 4
#define L_SYS 5
#define L_UC 6

// global settings
#define QUICK_TAP_MS 175

// key aliases
#define XXX &none
#define ___ &trans

&sk { // sticky-key config
  release-after-ms = <900>;
  quick-release;
};

&sl { // sticky-layer config
  ignore-modifiers;
};

&lt { // layer-tap config
  flavor = "balanced";
  tapping-term-ms = <150>;
  quick-tap-ms = <QUICK_TAP_MS>;
};

// homerow mods
#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4  // left hand
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4  // right hand
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2                                      // thumbs

// key aliases
#define DSK_LEFT &kp LG(LA(H))
#define VOL_DOWN &hml LSHIFT C_VOL_DN
#define VOL_UP &hml LCTRL C_VOL_UP
#define DSK_RIGHT &hml LALT LG(LA(L))
#define WM_RELOAD &kp LS(LC(LA(LG(R))))

// international chars
#define NO_AE RA(Q)
#define NO_OE RA(O)
#define NO_AA RA(A)

// combos
#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30
#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50
#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TIMEOUT, IDLE) \
  combo_##NAME { \
    timeout-ms = <TIMEOUT>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    require-prior-idle-ms = <IDLE>; \
  };

/ {
  behaviors {
    morph_comma: comma_semi {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp COMMA>, <&morph_comma_inner>;
      mods = <(MOD_LSFT)>;
    };

    morph_comma_inner: comma_semi_lt_inner {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp SEMI>, <&kp LT>;
      mods = <(MOD_LCTL)>;
    };

    morph_dot: dot_colon {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp DOT>, <&morph_dot_inner>;
      mods = <(MOD_LSFT)>;
    };

    morph_dot_inner: dot_colon_gt_inner {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp COLON>, <&kp GT>;
      mods = <(MOD_LCTL)>;
    };

    morph_qexcl: question_exclamation_mark {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp QMARK>, <&kp EXCL>;
      mods = <(MOD_LSFT)>;
    };

    morph_quot: double_quote_quote {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp DQT>, <&kp SQT>;
      mods = <(MOD_LSFT)>;
    };

    hml: homerow_mods_left {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <200>;
      quick-tap-ms = <QUICK_TAP_MS>;
      require-prior-idle-ms = <150>;
      bindings = <&kp>, <&kp>;
      hold-trigger-key-positions = <KEYS_R THUMBS>;
      hold-trigger-on-release;
    };

    hmr: homerow_mods_right {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <200>;
      quick-tap-ms = <QUICK_TAP_MS>;
      require-prior-idle-ms = <150>;
      bindings = <&kp>, <&kp>;
      hold-trigger-key-positions = <KEYS_L THUMBS>;
      hold-trigger-on-release;
    };
  };

  combos {
    compatible = "zmk,combos";

    // left hand
    COMBO(esc, &kp ESC, LM2 LM1, L_CMK, COMBO_TERM_FAST, COMBO_IDLE_FAST)

    // // left hand
    // COMBO(lbkt, &kp LBKT, LM3 LM2, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    // COMBO(lbrc, &kp LBRC, LM2 LM1, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    // COMBO(equal, &kp EQUAL, LM1 LM0, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    // COMBO(lpar, &kp LPAR, LT2 LT1, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    // COMBO(amps, &kp AMPS, LB1 LB2, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    //
    // // right hand
    // COMBO(rpar, &kp RPAR, RT2 RT1, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    // COMBO(colon, &kp COLON, RM0 RM1, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    // COMBO(rbrc, &kp RBRC, RM1 RM2, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    // COMBO(rbkt, &kp RBKT, RM2 RM3, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    // COMBO(minus, &kp MINUS, RB0 RB1, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    // COMBO(bslh, &kp BSLH, RB1 RB2, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    // COMBO(fslh, &kp FSLH, RB2 RB3, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    //
    // // both hands
    // COMBO(capsword, &caps_word, LM1 RM1, L_CMK, COMBO_TERM_FAST, COMBO_IDLE_FAST)
  };

  macros {
    ss_to_file: selection_screenshot_to_file {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings =
      <&macro_press &kp LGUI &kp LSHIFT>,
      <&macro_tap &kp N4>,
      <&macro_release &kp LGUI &kp LSHIFT>;
    };
    ss_to_clip: selection_screenshot_to_clipboard {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings =
      <&macro_press &kp LGUI &kp LCTRL &kp LSHIFT>,
      <&macro_tap &kp N4>,
      <&macro_release &kp LGUI &kp LCTRL &kp LSHIFT>;
    };
  };

  conditional_layers {
    compatible = "zmk,conditional-layers";
    tri_layer {
      if-layers = <L_NUM L_FN>;
      then-layer = <L_SYS>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    colemak_dh_layer {
      bindings = <
        //╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮     ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
            &kp TAB         &kp Q           &kp W           &kp F           &kp P           &kp B                 &kp J           &kp L           &kp U           &kp Y           &kp SEMI        &kp BSPC
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┤───────────────┼───────────────┤
            &kp LSHIFT      &kp A           &kp R           &kp S           &kp T           &kp G                 &kp M           &kp N           &kp E           &kp I           &kp O           &morph_quot
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┤───────────────┼───────────────┤
            &kp LCTRL       &kp Z           &kp X           &kp C           &kp D           &kp V                 &kp K           &kp H           &kp COMMA       &kp DOT         &kp FSLH        &kp LALT
        //╰───────────────┼───────────────┴───────────────┼───────────────┼───────────────┤───────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────╯
                                                            &kp LGUI        &lt L_NAV SPACE &lt L_UC ESC          &lt L_NUM RET   &mo L_SYM       &mo L_FN
        //                                                ╰───────────────┴───────────────┴───────────────╯     ╰───────────────┴───────────────┴───────────────╯
      >;
    };

    nav_layer {
      bindings = <
        //╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮     ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
            ___             ___             ___             ___             ___             ___                   ___             &kp LG(V)       &kp LG(C)       &kp LG(X)       &kp LG(Z)       ___
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┤───────────────┼───────────────┤
            ___             &sk LGUI        &sk LALT        &sk LSHIFT      &sk LCTRL       ___                   &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT       ___             ___
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┤───────────────┼───────────────┤
            ___             ___             ___             ___             ___             ___                   &kp HOME        &kp PG_DN       &kp PG_UP       &kp END         ___             ___
        //╰───────────────┼───────────────┴───────────────┼───────────────┼───────────────┤───────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────╯
                                                            ___             ___             ___                   ___             &kp K_CANCEL    ___
        //                                                ╰───────────────┴───────────────┴───────────────╯     ╰───────────────┴───────────────┴───────────────╯
      >;
    };

    num_layer {
      bindings = <
        //╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮     ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
            ___             ___             ___             ___             &kp KP_EQUAL    ___                   ___             ___             &kp LPAR        &kp RPAR        &kp PRCNT       ___
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┤───────────────┼───────────────┤
            ___             &kp KP_N1       &kp KP_N2       &kp KP_N3       &kp KP_N4       &kp KP_N5             &kp KP_N6       &kp KP_N7       &kp KP_N8       &kp KP_N9       &kp KP_N0       ___
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┤───────────────┼───────────────┤
            ___             ___             &kp KP_MINUS    &kp KP_PLUS     &kp KP_DIVIDE   &kp KP_MULTIPLY       ___             ___             &kp KP_COMMA    &kp KP_DOT      ___             ___
        //╰───────────────┼───────────────┴───────────────┼───────────────┼───────────────┤───────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────╯
                                                            ___             ___             ___                   ___             ___             ___
        //                                                ╰───────────────┴───────────────┴───────────────╯     ╰───────────────┴───────────────┴───────────────╯
      >;
    };

    sym_layer {
      bindings = <
        //╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮     ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
            ___             ___             ___             &kp TILDE       &kp GRAVE       ___                   &kp HASH        &kp UNDER       &kp LBKT        &kp RBKT        &kp PRCNT       ___
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┤───────────────┼───────────────┤
            ___             ___             &kp EXCL        &kp PLUS        &kp EQUAL       &kp PIPE              &kp CARET       &kp COLON       &kp LPAR        &kp RPAR        &kp DOLLAR      ___
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┤───────────────┼───────────────┤
            ___             ___             &kp LT          &kp GT          &kp AT          &kp STAR              &kp AMPS        &kp MINUS       &kp LBRC        &kp RBRC        &kp BSLH        ___
        //╰───────────────┼───────────────┴───────────────┼───────────────┼───────────────┤───────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────╯
                                                            ___             ___             ___                   ___             ___             ___
        //                                                ╰───────────────┴───────────────┴───────────────╯     ╰───────────────┴───────────────┴───────────────╯
      >;
    };

    fn_layer {
      bindings = <
        //╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮     ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
            ___             &kp F12         &kp F7          &kp F8          &kp F9          ___                   &kp LC(LA(H))   &kp C_MUTE      &kp C_PP        &kp LC(LA(L))   ___             ___
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┤───────────────┼───────────────┤
            ___             &kp F11         &kp F4          &kp F5          &kp F6          ___                   DSK_LEFT        VOL_DOWN        VOL_UP          DSK_RIGHT       ___             ___
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┤───────────────┼───────────────┤
            ___             &kp F10         &kp F1          &kp F2          &kp F3          ___                   &ss_to_file     &ss_to_clip     &kp LG(LALT)    &kp LC(LALT)    ___             ___
        //╰───────────────┼───────────────┴───────────────┼───────────────┼───────────────┤───────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────╯
                                                            ___             ___             ___                   ___             ___             ___
        //                                                ╰───────────────┴───────────────┴───────────────╯     ╰───────────────┴───────────────┴───────────────╯
      >;
    };

    sys_layer {
      bindings = <
        //╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮     ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
            ___             &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_CLR            ___             ___             ___             ___             ___             ___
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┤───────────────┼───────────────┤
            ___             ___             ___             ___             ___             &bootloader           ___             ___             ___             ___             ___             ___
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┤───────────────┼───────────────┤
            ___             WM_RELOAD       ___             ___             ___             &sys_reset            ___             ___             ___             ___             ___             ___
        //╰───────────────┼───────────────┴───────────────┼───────────────┼───────────────┤───────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────╯
                                                            ___             ___             ___                   ___             ___             ___
        //                                                ╰───────────────┴───────────────┴───────────────╯     ╰───────────────┴───────────────┴───────────────╯
      >;
    };

    uc_layer {
      bindings = <
        //╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮     ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
            ___             ___             ___             ___             ___             ___                   ___             ___             ___             ___             ___             ___
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┤───────────────┼───────────────┤
            ___             ___             ___             ___             ___             ___                   ___             ___             &kp NO_AE       &kp NO_OE       &kp NO_AA       ___
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┤───────────────┼───────────────┤
            ___             ___             ___             ___             ___             ___                   ___             ___             ___             ___             ___             ___
        //╰───────────────┼───────────────┴───────────────┼───────────────┼───────────────┤───────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────╯
                                                            ___             ___             ___                   ___             ___             ___
        //                                                ╰───────────────┴───────────────┴───────────────╯     ╰───────────────┴───────────────┴───────────────╯
      >;
    };
  };
};
