&sk { // sticky-key config
  release-after-ms = <900>;
  quick-release;
};

&sl { // sticky-layer config
  ignore-modifiers;
};

&lt { // layer-tap config
  flavor = "balanced";
  tapping-term-ms = <200>;
  quick-tap-ms = <QUICK_TAP_MS>;
};

/ {
  behaviors {
    morph_comma: comma_semi {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp COMMA>, <&morph_comma_inner>;
      mods = <(MOD_LSFT)>;
    };

    morph_comma_inner: comma_semi_lt_inner {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp SEMI>, <&kp LT>;
      mods = <(MOD_LCTL)>;
    };

    morph_dot: dot_colon {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp DOT>, <&morph_dot_inner>;
      mods = <(MOD_LSFT)>;
    };

    morph_dot_inner: dot_colon_gt_inner {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp COLON>, <&kp GT>;
      mods = <(MOD_LCTL)>;
    };

    morph_qexcl: question_exclamation_mark {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp QMARK>, <&kp EXCL>;
      mods = <(MOD_LSFT)>;
    };

    morph_quot: double_quote_quote {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp DQT>, <&kp SQT>;
      mods = <(MOD_LSFT)>;
    };

    morph_lpar_lt: left_par_lt {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp LPAR>, <&kp LT>;
      mods = <(MOD_LSFT)>;
    };

    morph_rpar_gt: right_par_gt {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp RPAR>, <&kp GT>;
      mods = <(MOD_LSFT)>;
    };

    morph_lbkt_lbrc: left_bracket_left_brace {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp LBKT>, <&kp LBRC>;
      mods = <(MOD_LSFT)>;
    };

    morph_rbkt_rbrc: right_bracket_right_brace {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp RBKT>, <&kp RBRC>;
      mods = <(MOD_LSFT)>;
    };

    hml: homerow_mods_left {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <200>;
      quick-tap-ms = <QUICK_TAP_MS>;
      require-prior-idle-ms = <150>;
      bindings = <&kp>, <&kp>;
      hold-trigger-key-positions = <KEYS_R THUMBS>;
      hold-trigger-on-release;
    };

    hmr: homerow_mods_right {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <200>;
      quick-tap-ms = <QUICK_TAP_MS>;
      require-prior-idle-ms = <150>;
      bindings = <&kp>, <&kp>;
      hold-trigger-key-positions = <KEYS_L THUMBS>;
      hold-trigger-on-release;
    };

    no_ae: norwegian_ae {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&no_ae_lower>, <&no_ae_upper>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    no_oe: norwegian_oe {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&no_oe_lower>, <&no_oe_upper>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    no_aa: norwegian_aa {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&no_aa_lower>, <&no_aa_upper>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
  };
};
