#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30
#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50
#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TIMEOUT, IDLE) \
  combo_##NAME { \
    timeout-ms = <TIMEOUT>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    require-prior-idle-ms = <IDLE>; \
  };

/ {
  combos {
    compatible = "zmk,combos";

    // left hand
    COMBO(esc, &kp ESC, LM2 LM1, L_CMK, COMBO_TERM_FAST, COMBO_IDLE_FAST)

    // // left hand
    // COMBO(lbkt, &kp LBKT, LM3 LM2, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    // COMBO(lbrc, &kp LBRC, LM2 LM1, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    // COMBO(equal, &kp EQUAL, LM1 LM0, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    // COMBO(lpar, &kp LPAR, LT2 LT1, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    // COMBO(amps, &kp AMPS, LB1 LB2, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    //
    // // right hand
    // COMBO(rpar, &kp RPAR, RT2 RT1, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    // COMBO(colon, &kp COLON, RM0 RM1, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    // COMBO(rbrc, &kp RBRC, RM1 RM2, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    // COMBO(rbkt, &kp RBKT, RM2 RM3, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    // COMBO(minus, &kp MINUS, RB0 RB1, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    // COMBO(bslh, &kp BSLH, RB1 RB2, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    // COMBO(fslh, &kp FSLH, RB2 RB3, L_CMK L_NAV L_NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
    //
    // // both hands
    // COMBO(capsword, &caps_word, LM1 RM1, L_CMK, COMBO_TERM_FAST, COMBO_IDLE_FAST)
  };
};
